@import "config";

.card-container {
  height: 90vh;
}

.card-container,
.card {
  @include display;
}

.card {
  flex-direction: column;
  margin: auto 38vw;
}

.img-container {
  height: 20vh;
  @include display;
  background-image: url("/images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
}

.info-container {
  @include display;
  flex-direction: column;
  background-color: white;
}

.info {
  text-align: center;

  h1 {
    margin-top: 30px;
    color: $dark-blue;
    font-weight: 900;
  }

  p {
    margin: 15px 10px;
    color: $desaturated-blue;
    font-size: 16px;
  }
}

.plan-container {
  @include display;
  margin: auto 40px 16px 40px;
  padding: 16px;
  background-color: $very-pale-blue;
  border-radius: 15px;

  &_left {
    display: flex;

    img {
      margin-left: -50px;
      margin-right: 20px;
    }
    h2 {
      font-size: 16px;
      color: $dark-blue;
    }
    p {
      color: $desaturated-blue;
    }
  }

  &_right {
    margin-right: -50px;
    margin-left: 50px;
    margin-top: 10px;
    color: $bright-blue;

    a:hover {
      color: $bright-blue;
      text-decoration: none;
    }
  }
}

.btn {
  margin-top: 15px;
  text-align: center;
  button {
    border: 2px solid $bright-blue;
    background-color: $bright-blue;
    font-size: 16px;
    color: $very-pale-blue;
    padding: 10px 70px;
    border-radius: 10px;
  }
  button:hover {
    background-color: $bright-blue-gradient;
    cursor: pointer;
  }
}

.cancel {
  color: $desaturated-blue;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 0 0 20px 20px;

  p:hover {
    color: $dark-blue;
    cursor: pointer;
  }
}

.attribution {
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
