@import "config";

.card-container {
  height: 90vh;
}

.card-container,
.card {
  @include display;
}

.card {
  flex-direction: column;
  border-radius: 0.725rem;
  margin: auto 40vw;
}

.img-container {
  height: 20vh;
  @include display;
  background-image: url(/images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.info-container {
  @include display;
  flex-direction: column;
  background-color: white;
}

.attribution {
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
